<div class="jumbo">
  <div class="left">
    <div class="">

  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
    </div>
  <div class="buttons">
     <LinkTo @route="about" class="button">About Us</LinkTo>
     <LinkTo @route="contact" class="button">Contact Us</LinkTo>
  </div>
  </div>

  <div class="right tomster"></div>

</div>